<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Trino Quintana | Code Wizard, AI Enthusiast 🚀</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="navbar  fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a id="slogan" class="navbar-brand me-auto" href="#">Code Wizard, AI Enthusiast 🚀</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Technologies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container section">
        <div class="div-1">
            <h1>I'm Trino Quintana</h1>
            <h3 class="bg-success">Full Stack Developer</h3>
            <p>I am a passionate fullstack programmer with a specialized focus on artificial intelligence and computer
                vision. My experience covers web application development, including the creation of REST APIs. My goal
                is to leverage AI and computer vision to build innovative solutions that lead the way into the
                technological future. 💻🤖🌐
            </p>
            <p>Explore my work below and discover how technology can drive positive change in society and industry.</p>
            <button type="button" class="btn btn-1">About me ></button>
        </div>
        <div class="div-2">
            <img id="box" src="../static/images/foto_portfolio.png" alt="">
        </div>
</body>

</html>